/* 使每个LOGO的父元素有相对定位，保证气泡的绝对定位 */
.vlt-partners {
    position: relative;
}

/* 定义气泡样式 */
.tooltip {
    position: absolute;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.7); /* 灰色透明背景 */
    color: white;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden; /* 默认隐藏 */
    opacity: 0;
    pointer-events: none; /* 防止气泡阻挡鼠标事件 */
    transition: opacity 0.3s ease;
}

/* 鼠标点击后显示气泡 */
li.active .tooltip {
    visibility: visible;
    opacity: 1;
}
